[submodule "lib/requirejs"]
	path = lib/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "lib/jasmine"]
	path = lib/jasmine
	url = git@github.com:iaincarsberg/jasmine.git
[submodule "lib/underscore"]
	path = lib/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "lib/compose"]
	path = lib/compose
	url = git://github.com/kriszyp/compose.git
[submodule "lib/cjs"]
	path = lib/cjs
	url = git://github.com/neonstalwart/cjs.git
